@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --maroon:#800000;
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image:linear-gradient(to top, #800000, #f5f5e4);
    background-size: cover;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}
.btn{
    margin-top: 16px;
    display: inline-block;
    padding: 12px 48px;
    color:#fff;
    font-size:29px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0,0,0,0.5);
}
.btn:hover{
    background: #813a3a;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1px 7%;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
nav {
    margin-left: 20px;
}
header a {
    color: white;
    font-size:22px;
    margin-right: 1rem;
    text-decoration: none;
}
header a:hover {
    color: #FFD700;
}
.icons {
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 2px;
    margin-left: 1.7rem;
    display: inline-flex;
    justify-content: space-evenly;
}
.icons a:hover {
    color: #000;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #000;
}
.contact .content p{
    font-weight: 300;
    color: #000;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .c-info .box .icon{
    margin-left: 200px;
}
.container .c-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .c-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .c-info .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .c-info .box .icon .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact-f{
    width: 35%;
    padding: 40px;
    background: #fff;
    margin-right: 100px;
}
.contact-f h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-f .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-f .inputbox input,
.contact-f .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-f .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact-f .inputbox input:focus ~ span,
.contact-f .inputbox input:valid ~ span
.contact-f .inputbox textarea:focus ~ span,
.contact-f .inputbox textarea:valid ~ span{
    color: #800000;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-f .inputbox input[type="submit"] {
    width: 100px;
    background: #800000;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}
footer{
    background-color: #800000;
}
.f-container {
    width: 100%;
    padding: 50px 30px 20px;
}
.socialmedia{
    display: flex;
    justify-content: center;
}
.socialmedia a{
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    padding:10px;
}
.socialmedia a i{
    font-size: 25px;
    color: #800000;
    opacity: .8;
}
.socialmedia a:hover{
    background-color: #800000;
    transition: .3s;
}
.socialmedia a i:hover{
    color: #FFD700;
    transition: .3s;
}
.f-nav{
    margin: 30px;
}
.f-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.f-nav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.4;
    transition: .3s;
}
.f-nav ul li a:hover{
    opacity: 1;
}
.b-footer{
    text-align: center;
    color: #fff;
    font-size: small;
    font-family: cursive;
}
@media (max-width:991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .c-info {
        margin-bottom: 40px;
    }
    .container .c-info,
    .contact-f {
        width: 100%;
    }
}