@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --maroon:#800000;
}
body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: linear-gradient(to top, maroon, gold);
    background-size: cover;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}
.btn{
    margin-top: 16px;
    display: inline-block;
    padding: 12px 48px;
    color:#fff;
    font-size:29px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0,0,0,0.5);
}
.btn:hover{
    background: #813a3a;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1px 7%;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
nav {
    margin-left: 20px;
}
header a {
    color: white;
    font-size:22px;
    margin-right: 1rem;
    text-decoration: none;
}
header a:hover {
    color: #FFD700;
}
.icons {
    color: white;
    font-size: large;
    margin: 2px;
    margin-left: 1.7rem;
    display: inline-flex;
    justify-content: space-evenly;
}
.icons a:hover {
    color: #000;
}
.order {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #800000;
    margin-top: 150px;
    text-align: center;
}
.hi{
    border: 1px solid #800000;
    width: 85%;
    margin: 20px auto;
}
.title {
    display:flex;
    align-items: center;
    font-size: 40px;
    margin-bottom:5px;
    padding: 18px 0;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
    color: #800000;
    margin-left: 0px;
}
.title span{
    color: #800000;
    padding-left: 40px;
}
.title a{
    margin-left:auto;
    padding-right: 40px;
    color: #800000;
    font-size: 26px;
}
.title a:hover{
    color: #000;
}
.products .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }

.products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
    margin-left: 30px;
    margin-right: 30px;
}
  .products .box-container .box .img {
    height:250px;
    width:auto;
    overflow: hidden;
}
  .products .box-container .box .img img {
    height:100%;
    width:100%;
    object-fit: cover;
}
.products .box-container .box .img:hover img {
    transform: scale(1.5); 
    transition: transform 0.3s ease;
}
.products .box-container .box .content {
    padding: 24px;
}

.products .box-container .box .content h3 {
    font-size: 32px;
    color: #222;
}

.products .box-container .box .content .price {
    font-size: 32px;
    color: #222;
    padding: 1rem 0;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--brown);
}
footer{
    margin-top: 10px;
    background-color: #800000;
    border-top: 1px solid #000;
}
.f-container {
    width: 100%;
    padding: 50px 30px 20px;
}
.socialmedia{
    display: flex;
    justify-content: center;
}
.socialmedia a{
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    padding:10px;
}
.socialmedia a i{
    font-size: 25px;
    color: #800000;
    opacity: .8;
}
.socialmedia a:hover{
    background-color: #800000;
    transition: .3s;
}
.socialmedia a i:hover{
    color: #FFD700;
    transition: .3s;
}
.f-nav{
    margin: 30px;
}
.f-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.f-nav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.4;
    transition: .3s;
}
.f-nav ul li a:hover{
    opacity: 1;
}
.b-footer{
    text-align: center;
    color: #fff;
    font-size: small;
    font-family: cursive;
}
@media (max-width: 1024px) {
    .header .logo img {
        width: 180px;
        padding-left: 5px;
    }
}
@media (max-width: 768px) {
    .header a{
        font-size: 12px;
    }
    .order {
        margin-top: 100px;
        font-size: 35px;
    }
    .hi {
        width: 65%;
    }
    .title {
        font-size: 20px;
    }
    .title a {
        font-size: 20px;
    }
    .products .box-container .box {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1.5rem;
    }   
}
@media (max-width: 425px) {
    .header .logo img {
        width: 100px;
    }
    .header .navigation a{
        font-size: 12px;
        display: none;
    }
    .icons {
        padding-right: 25px;
    }
    .order {
        margin-top: 80px;
        font-size: 35px;
    }
    .hi {
        width: 65%;
    }
    .title {
        font-size: 20px;
    }
    .title a {
        font-size: 20px;
    }
    .products .box-container .box {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1.5rem;
    }    
    .products .box-container .box .img{
        overflow: hidden;
        height: 100%;
        width: 120%;
    }
    .products .box-container .box .img img {
        height: 110%;
        width: 120%;
    }
    .products .box-container .box .content h3 {
        font-size: 25px;
    }
    .f-nav {
        margin: 10px;
    }

    .f-nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: none;
    }

    .f-nav ul li a {
        margin: 5px;
    }

    .socialmedia {
        justify-content: center;
    }
    .socialmedia a {
        margin: 5px; 
    }
    .socialmedia a i {
        font-size: 15px; 
    }
    .f-container {
        padding: 15px 10px 5px;
    }

    .b-footer {
        margin-top: 20px;
        font-size: x-small;
    }
}
@media (max-width: 375px){
    .products .box-container {
        justify-content: center; 
    } 
}
@media (max-width: 320px){
    .products .box-container {
        justify-content: center;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        gap: 1.5rem; 
    } 
    .products .box-container .box {
        margin-left: 30px;
        margin-right: 30px;
    }
}
